# ignore the auth token file
config.py

# ignore some other files and folders
__pycache__/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode-janus-debug

#### VisualStudioCode Patch ###
## Ignore all local history of files
.history

### macOS ###
.DS_Store
.AppleDouble
.LSOverride


# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

### Python Patch ###
.venv/

### Python.VirtualEnv Stack ###
# Virtualenv
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

# custom temporary files
tmp*.*
*.csv